# Pandas
Pandas é uma biblioteca Python de código aberto para análise de dados, que oferece alto desempenho, estruturas de dados de fácil utilização e ferramentas de análise de dados. Para usar a biblioteca, basta utilizar o seguinte comando de importação abaixo:

```python
import numpy as np
import pandas as pd
```

## Obtendo os Dados

| Formato | Descrição                        |  Função de Leitura | Função de Escrita |
|:--------|:---------------------------------|:-------------------|:------------------|
| Texto   | CSV                              | read_csv( )        | to_csv( )         |
| Texto   | JSON                             | read_json( )       | to_json( )        |
| Texto   | HTML                             | read_html( )       | to_html( )        | 
| Texto   | Área de Transferência de Memória | read_clipboard( )  | to_clipboard( )   |
| Binário | MS Excel                         | read_excel( )      | to_excel( )       |
| Binário | HDF5 Format                      | read_hdf( )        | to_hdf( )         |
| Binário | Feather Format                   | read_feather( )    | to_feather( )     |
| Binário | Parquet Format                   | read_parquet( )    | to_parquet( )     |
| Binário | Msgpack                          | read_msgpack( )    | to_msgpack( )     |
| Binário | Stata                            | read_stata( )      | to_stata( )       |
| Binário | SAS                              | read_sas( )        | -                 | 
| Binário | Python Pickle Format             | read_pickle( )     | to_pickle( )      |
| SQL     | SQL                              | read_sql( )        | to_sql( )         |
| SQL     | Google Big Query                 | read_gbq( )        | to_gbq( )         |

### Exemplos

```python
# Exemplo 1: Leitura e Escrita para CSV

# Lê 5 linhas de um arquivo CSV sem cabeçalho.
pd.read_csv("arquivo.csv", header=None, nrows=5) 

# Exporta os dados de uma estrutura de dados 
# Data Frame do Pandas para um arquivo csv.
dados_data_frame.to_csv("dados_data_frame.csv")


# Exemplo 2: Leitura e Escrita para EXCEL
pd.read_excel("planilha.xlsx")

dados_data_frame.to_excel("dados_data_frame.xlsx", sheet_name="Planilha 1")

# Carrega múltiplas planilhas do mesmo arquivo
planilha = pd.ExcelFile("arquivo.xls")
dados_data_frame = pd.read_excel(xlsx, "Planilha 1")
```

## Estruturas de Dados

### Series
Vetor unidimensional rotulado capaz de armazenar qualquer tipo de dado

In [ ]:
import numpy as np
import pandas as pd

s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s

a   -0.472931
b   -1.197872
c    1.658458
d    1.082283
e   -0.193443
dtype: float64

### Data Frame
Matriz rotulada contendo colunas com diferentes tipos de dados

In [ ]:
data = {
    'Country': ['Belgium',  'India',  'Brazil'],
    'Capital': ['Brussels',  'New Delhi',  'Brasilia'],
    'Population': [11190846, 1303171035, 207847528]
}

df = pd.DataFrame(data, columns=['Country',  'Capital',  'Population'])

df

### Indexação / Seleção

| Operação                                    | Sintaxe            | Resultado |
|:--------------------------------------------|:-------------------|:----------|
| Seleciona Coluna                            | df[col]            | Series    |
| Seleciona Linha por nome do rótulo          | df.loc[rotulo]     | Series    |
| Seleciona linhas por posição (inteiro)      | df.iloc[posicao]   | Series    |
| Divide Linhas                               | df[5:10]           | DataFrame |
| Seleciona linhas por vetor booleano         | df[vetor_booleano] | DataFrame |

In [ ]:
import numpy as np
import pandas as pd

data = {
    'Country': ['Belgium',  'India',  'Brazil'],
    'Capital': ['Brussels',  'New Delhi',  'Brasilia'],
    'Population': [11190846, 1303171035, 207847528]
}

df = pd.DataFrame(data, columns=['Country',  'Capital',  'Population'])

# Seleção por posição
df.iloc[[0],[0]]

# Seleção por rótulo
df.loc[[0], ['Country']]

# Rótulo/Posição
df.loc[2]
df.loc[:, 'Capital']
df.loc[2, 'Capital']

### Missing Data (Dados Ausentes)

O pandas utiliza o valor np.nan para representar todos os dados auentes que possam aparecer no conjunto de dados. Para detectar dados ausentes facilmente, o Pandas fornece as funções: isna() e notna(), que são também métodos dos objetos do tipo Series e DataFrame.

In [ ]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(5, 3), index=['A', 'C', 'E', 'F', 'H'], 
                  columns=['one', 'two', 'three'])

df['four'] = 'bar' # Cria uma nova coluna (four) e adiciona valores constantes (bar)
df['five'] = df['one'] > 0 # Cria uma nova coluna (five) e adiciona true se a coluna 1 for maior que zero
df

# Reindexa o data frame para simularmos os missing datas
# Ele adicionou as linhas ausentes: B, D e G; e preencheu
# com dados auentes (NaN)
df2 = df.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'])

# Avalia o data frame e coloca True no local dos dados ausentes
df2
pd.isna(df2)
df2.isna()

# É possível fazer o teste especificando colunas
df2['one']
pd.isna(df2['one']) 
df2['four'].notna()

### Ordenação e Ranking

| Função                          | Descrição                        | 
|:--------------------------------|:---------------------------------|
| df.sort_index()                 | Ordena por índices               |
| df.sort_values(by='NomeColuna') | Ordena por valores               |
| df.rank()                       | Gera um ranking para as entradas |


### Informações Básicas

| Função         | Descrição                                | 
|:---------------|:-----------------------------------------|
| df.shape()     | Retorna (linhas, colunas)                |
| df.index()     | Descreve os índices                      |
| df.columns()   | Descreve as colunas do Data Frame        |
| df.info()      | Informações do Data Frame                |
| df.count()     | Retorna a contagem dos valores não nulos |


### Sumário Quantitativo

| Função         | Descrição                      | 
|:---------------|:-------------------------------|
| df.sum()       | Soma dos valores               |
| df.cumsum()    | Soma cumulativa dos valores    |
| df.min()       | Obtém o valor mínimo           |
| df.max()       | Obtém o valor máximo           |
| df.idxmin()    | Obtém o valor mínimo do índice |
| df.idxmax()    | Obtém o valor máximo do índice |
| df.describe()  | Gera estatísticas descritivas que resumem a tendência central, a dispersão e a forma da distribuição de um conjunto de dados, excluindo os valores NaN. |
| df.mean()      | Calcula a Média                |
| df.median()    | Calcula a Mediana              |

## Aprendendo Pandas na Prática

Considerando o famoso conjunto de dados: [**Dados de 93 carros à venda nos EUA em 1993**](https://stat.ethz.ch/R-manual/R-devel/library/MASS/html/Cars93.html) disponível na pasta [`data/carros_93.csv`](data/carros_93.csv), faremos algumas tarefas rotineiras de um cientista de dados utilizando a biblioteca Pandas.

### Dicionário de Dados

| Nº | Coluna                      | Descrição                                                 |
|:--:|:----------------------------|:----------------------------------------------------------|
|  1 | fabricante                  | Fabricante do carro.                                      |
|  2 | modelo                      | Modelo do carro.                                          |
|  3 | tipo                        | Pequeno, Esportivo, Compacto, Médio, Grande ou Van.       |
|  4 | preco_min                   | Preço mínimo em dólares para uma versão básica.           |
|  5 | preco                       | Preço médio em dólares para uma versão básica.            |
|  6 | preco_max                   | Preço máximo em dólares para uma versão básica.           |
|  7 | mpg_cidade                  | Consumo em Milhas por Galão (MPG) na cidade.              |
|  8 | mpg_rodovia                 | Consumo em Milhas por Galão (MPG) na estrada.             |
|  9 | airbags                     | Nenhum, Somente Motorista ou Motorista e Passageiro.      |
| 10 | tracao                      | Traseira, Dianteira ou 4x4                                |
| 11 | cilindros                   | Número de cilindros                                       |
| 12 | tamanho_motor               | Tamanho do motor em litros                                |
| 13 | horsepower                  | Cavalos-força (máximo).                                   |
| 14 | rpm                         | RPM (rotações por minuto na potência máxima).             |
| 15 | revolucoes_milha            | Rotações do motor por milha (na marcha mais alta).        |
| 16 | transmissao_manual          | Possui transmissão manual?                                |
| 17 | capacidade_tanque           | Capacidade do tanque de combustível em galões americanos. |
| 18 | passageiros                 | Capacidade de passageiros (pessoas)                       |
| 19 | comprimento_in              | Comprimento (polegadas).                                  |
| 20 | distancia_eixo              | Distância entre eixos (polegadas).                        |
| 21 | largura_in                  | Largura (polegadas).                                      |
| 22 | espaco_inversao_marcha_ft   | Espaço em inversão de marcha (pés).                       |
| 23 | tamanho_assento_traseiro_in | Tamanho do banco traseiro (polegadas).                    |
| 24 | porta_mala_ft3              | Capacidade de bagagem (pés cúbicos)                       |
| 25 | peso_lb                     | Peso (libras).                                            |
| 26 | origem                      | Origem de empresas americanas ou fora dos EUA.            |
| 27 | fabricante_modelo           | Combinação de fabricante e modelo.                        |

Os carros foram selecionados aleatoriamente entre os modelos de automóveis de passageiros de 1993 listados na edição do Consumer Reports e no PACE Buying Guide. As caminhonetes e os veículos esportivos/utilitários foram eliminados devido a informações incompletas na fonte do Consumer Reports. Os modelos duplicados (por exemplo, Dodge Shadow e Plymouth Sundance) foram listados no máximo uma vez. Uma descrição mais detalhada pode ser encontrada em Lock (1993).

#### Referências

- Lock, R. H. (1993) 1993 New Car Data. Journal of Statistics Education 1(1). https://doi.org/10.1080/10691898.1993.11910459
- Venables, W. N. and Ripley, B. D. (1999) Modern Applied Statistics with S-PLUS. Third Edition. Springer.

1. Importe o pacote Pandas com o nome pd.

In [2]:
import numpy as np
import pandas as pd

2. Carregue em memória o conjunto de dados disponível na pasta [`data/carros_93.csv`](data/carros_93.csv) para uma variável chamada **df**.

In [4]:
df = pd.read_csv('carros_93.csv')

3. Qual é o número de linhas e colunas?

In [ ]:
linhas = df.shape[0]
colunas = df.shape[1]
print(f"linhas: {linhas}  colunas: {colunas}")

linhas: 93  colunas: 27

4. Quais são os tipos de dados de cada uma das colunas?

In [ ]:
df.dtypes

fabricante                      object
modelo                          object
tipo                            object
preco_min                      float64
preco                          float64
preco_max                      float64
mpg_cidade                     float64
mpg_rodovia                    float64
airbags                         object
trem_forca                      object
cilindros                      float64
tamanho_motor                  float64
horsepower                     float64
rpm                            float64
revolucoes_milha               float64
transmissao_manual              object
capacidade_tanque              float64
passageiros                    float64
comprimento_in                 float64
distancia_eixo                 float64
largura_in                     float64
espaco_inversao_marcha_ft      float64
tamanho_assento_traseiro_in    float64
porta_mala_ft3                 float64
peso_lb                        float64
origem                          object
fabricante_modelo               object
dtype: object

5. Mostre a quantidade de colunas para cada um dos tipos de dados.

In [ ]:
df.dtypes.value_counts()

float64    19
object      8
dtype: int64

6. Exiba um sumário estatístico do conjunto de dados.

In [ ]:
df.describe()

,preco_min,preco,preco_max,mpg_cidade,mpg_rodovia,cilindros,tamanho_motor,horsepower,rpm,revolucoes_milha,capacidade_tanque,passageiros,comprimento_in,distancia_eixo,largura_in,espaco_inversao_marcha_ft,tamanho_assento_traseiro_in,porta_mala_ft3,peso_lb
count,86.000000,91.000000,88.000000,84.000000,91.000000,87.000000,91.000000,86.000000,90.000000,87.000000,85.000000,91.000000,89.000000,92.000000,87.000000,88.000000,89.000000,74.000000,86.000000
mean,17.118605,19.616484,21.459091,22.404762,29.065934,5.000000,2.658242,144.000000,5276.666667,2355.000000,16.683529,5.076923,182.865169,103.956522,69.448276,38.954545,27.853933,13.986486,3104.593023
std,8.828290,9.724280,10.696563,5.841520,5.370293,1.320676,1.045845,53.455204,605.554811,486.916616,3.375748,1.045953,14.792651,6.856317,3.778023,3.304157,3.018129,3.120824,600.129993
min,6.700000,7.400000,7.900000,15.000000,20.000000,3.000000,1.000000,55.000000,3800.000000,1320.000000,9.200000,2.000000,141.000000,90.000000,60.000000,32.000000,19.000000,6.000000,1695.000000
25%,10.825000,12.350000,14.575000,18.000000,26.000000,4.000000,1.800000,100.750000,4800.000000,2017.500000,14.500000,4.000000,174.000000,98.000000,67.000000,36.000000,26.000000,12.000000,2647.500000
50%,14.600000,17.700000,19.150000,21.000000,28.000000,4.000000,2.300000,140.000000,5200.000000,2360.000000,16.500000,5.000000,181.000000,103.000000,69.000000,39.000000,27.500000,14.000000,3085.000000
75%,20.250000,23.500000,24.825000,25.000000,31.000000,6.000000,3.250000,170.000000,5787.500000,2565.000000,19.000000,6.000000,192.000000,110.000000,72.000000,42.000000,30.000000,16.000000,3567.500000
max,45.400000,61.900000,80.000000,46.000000,50.000000,8.000000,5.700000,300.000000,6500.000000,3755.000000,27.000000,8.000000,219.000000,119.000000,78.000000,45.000000,36.000000,22.000000,4105.000000

7. Converta o dataframe de carros para um vetor NumPy chamado **carros**

In [ ]:
carros = df.to_numpy

8. Converta o data Frame de carros para uma lista chamada **lista_carros**.

In [ ]:
lista_carros = df.values.tolist()

9. Imprima as informações básicas do Data Frame.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 27 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   fabricante                   89 non-null     object
 1   modelo                       92 non-null     object
 2   tipo                         90 non-null     object
 3   preco_min                    86 non-null     float64
 4   preco                        91 non-null     float64
 5   preco_max                    88 non-null     float64
 6   mpg_cidade                   84 non-null     float64
 7   mpg_rodovia                  91 non-null     float64
 8   airbags                      87 non-null     object
 9   trem_forca                   86 non-null     object
 10  cilindros                    87 non-null     float64
 11  tamanho_motor                91 non-null     float64
 12  horsepower                   86 non-null     float64
 13  rpm                          90 non-null     float64
 14  revolucoes_milha             87 non-null     float64
 15  transmissao_manual           88 non-null     object
 16  capacidade_tanque            85 non-null     float64
 17  passageiros                  91 non-null     float64
 18  comprimento_in               89 non-null     float64
 19  distancia_eixo               92 non-null     float64
 20  largura_in                   87 non-null     float64
 21  espaco_inversao_marcha_ft    88 non-null     float64
 22  tamanho_assento_traseiro_in  89 non-null     float64
 23  porta_mala_ft3               74 non-null     float64
 24  peso_lb                      86 non-null     float64
 25  origem                       88 non-null     object
 26  fabricante_modelo            90 non-null     object
dtypes: float64(19), object(8)
memory usage: 19.7+ KB

10. Analise as informações trazidas pela função `df.info()`, comparando a informação **Range Index** com todos os valores numéricos da segunda coluna que aparece nos resultados, sem seguida, responda:

> O que esses resultados podem evidenciar?

**RESPOSTA**: Ele indica que a coluna possui 93 valores, dos índices 0 a 92

11. Verifique se Data Frame (df) tem algum valor ausente.

In [ ]:
df.isnull()

,fabricante,modelo,tipo,preco_min,preco,preco_max,mpg_cidade,mpg_rodovia,airbags,trem_forca,...,passageiros,comprimento_in,distancia_eixo,largura_in,espaco_inversao_marcha_ft,tamanho_assento_traseiro_in,porta_mala_ft3,peso_lb,origem,fabricante_modelo
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,True,...,False,False,False,True,False,False,False,False,False,False
4,False,False,False,True,False,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
89,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
90,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
91,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
92,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

12. Qual é o número total de dados ausentes por coluna?

In [ ]:
df.isnull().sum()

fabricante                      4
modelo                          1
tipo                            3
preco_min                       7
preco                           2
preco_max                       5
mpg_cidade                      9
mpg_rodovia                     2
airbags                         6
trem_forca                      7
cilindros                       6
tamanho_motor                   2
horsepower                      7
rpm                             3
revolucoes_milha                6
transmissao_manual              5
capacidade_tanque               8
passageiros                     2
comprimento_in                  4
distancia_eixo                  1
largura_in                      6
espaco_inversao_marcha_ft       5
tamanho_assento_traseiro_in     4
porta_mala_ft3                 19
peso_lb                         7
origem                          5
fabricante_modelo               3
dtype: int64

13. Qual é o número total de dados ausentes no Data Frame?

In [5]:
df.isnull().sum().sum()

139

14. Imprima o número total de dados ausentes em cada uma das linhas?

In [7]:
df[df.columns[0]].isnull().sum()

4

15. Mostre as linhas que possuem dados ausentes na coluna `fabricante`.

In [8]:
df[df.loc[:,'fabricante'].isna()]

,fabricante,modelo,tipo,preco_min,preco,preco_max,mpg_cidade,mpg_rodovia,airbags,trem_forca,...,passageiros,comprimento_in,distancia_eixo,largura_in,espaco_inversao_marcha_ft,tamanho_assento_traseiro_in,porta_mala_ft3,peso_lb,origem,fabricante_modelo
1,NaN,Legend,Médio,29.2,33.9,38.7,18.0,25.0,Motorista e Passageiro,Dianteiro,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,Fora dos EUA,Acura Legend
19,NaN,Concorde,Grande,18.4,18.4,18.4,20.0,28.0,Motorista e Passageiro,Dianteiro,...,6.0,203.0,113.0,74.0,NaN,31.0,15.0,3515.0,EUA,Chrylser Concorde
49,NaN,SC300,Médio,34.7,35.2,35.6,18.0,23.0,Motorista e Passageiro,Traseiro,...,4.0,191.0,106.0,71.0,39.0,25.0,9.0,3515.0,Fora dos EUA,Lexus SC300
92,NaN,850,Médio,24.8,26.7,28.5,20.0,28.0,Motorista e Passageiro,Dianteiro,...,5.0,184.0,105.0,69.0,38.0,30.0,15.0,3245.0,Fora dos EUA,Volvo 850

16. Substitua os valores ausentes da coluna preço por zero.

In [ ]:
df['preco'] = df['preco'].fillna(0)

17. Substitua os valores ausentes nas colunas `preco_min` e `preco_max` pelas respectivas médias dessas colunas.

In [ ]:
df['preco_min'] = df['preco_min'].fillna(df['preco_min'].mean())
df['preco_max'] = df['preco_max'].fillna(df['preco_max'].mean())

16. Remova do Data Frame todas as linhas que possuem pelo menos um dado ausente.

In [ ]:
df.dropna()

,fabricante,modelo,tipo,preco_min,preco,preco_max,mpg_cidade,mpg_rodovia,airbags,trem_forca,...,passageiros,comprimento_in,distancia_eixo,largura_in,espaco_inversao_marcha_ft,tamanho_assento_traseiro_in,porta_mala_ft3,peso_lb,origem,fabricante_modelo
2,Audi,90,Compacto,25.900000,29.1,32.300000,20.0,26.0,Somente Motorista,Dianteiro,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,Fora dos EUA,Audi 90
7,Buick,Roadmaster,Grande,22.600000,23.7,24.900000,16.0,25.0,Somente Motorista,Traseiro,...,6.0,216.0,116.0,78.0,45.0,30.5,21.0,4105.0,EUA,Buick Roadmaster
17,Chevrolet,Caprice,Grande,18.000000,18.8,19.600000,17.0,26.0,Somente Motorista,Traseiro,...,6.0,214.0,116.0,77.0,42.0,29.5,20.0,3910.0,EUA,Chevrolet Caprice
20,Chrysler,LeBaron,Compacto,14.500000,15.8,17.100000,23.0,28.0,Motorista e Passageiro,Dianteiro,...,6.0,183.0,104.0,68.0,41.0,30.5,14.0,3085.0,EUA,Chrysler LeBaron
21,Chrysler,Imperial,Grande,29.500000,29.5,29.500000,20.0,26.0,Somente Motorista,Dianteiro,...,6.0,203.0,110.0,69.0,44.0,36.0,17.0,3570.0,EUA,Chrysler Imperial
28,Eagle,Summit,Pequeno,7.900000,12.2,16.500000,29.0,33.0,Nenhum,Dianteiro,...,5.0,174.0,98.0,66.0,36.0,26.5,11.0,2295.0,EUA,Eagle Summit
43,Hyundai,Excel,Pequeno,6.800000,8.0,9.200000,29.0,33.0,Nenhum,Dianteiro,...,5.0,168.0,94.0,63.0,35.0,26.0,11.0,2345.0,Fora dos EUA,Hyundai Excel
52,Mazda,323,Pequeno,7.400000,8.3,9.100000,29.0,37.0,Nenhum,Dianteiro,...,4.0,164.0,97.0,66.0,34.0,27.0,16.0,2325.0,Fora dos EUA,Mazda 323
53,Mazda,Protege,Pequeno,10.900000,11.6,12.300000,28.0,36.0,Nenhum,Dianteiro,...,5.0,172.0,98.0,66.0,36.0,26.5,13.0,2440.0,Fora dos EUA,Mazda Protege
54,Mazda,626,Compacto,14.300000,16.5,18.700000,26.0,34.0,Somente Motorista,Dianteiro,...,5.0,184.0,103.0,69.0,40.0,29.5,14.0,2970.0,Fora dos EUA,Mazda 626
60,Mercury,Cougar,Médio,14.900000,14.9,14.900000,19.0,26.0,Nenhum,Traseiro,...,5.0,199.0,113.0,73.0,38.0,28.0,15.0,3610.0,EUA,Mercury Cougar
62,Mitsubishi,Diamante,Médio,22.400000,26.1,21.459091,18.0,24.0,Somente Motorista,Dianteiro,...,5.0,190.0,107.0,70.0,43.0,27.5,14.0,3730.0,Fora dos EUA,Mitsubishi Diamante
64,Nissan,Altima,Compacto,13.000000,15.7,18.300000,24.0,30.0,Somente Motorista,Dianteiro,...,5.0,181.0,103.0,67.0,40.0,28.5,14.0,3050.0,Fora dos EUA,Nissan Altima
67,Oldsmobile,Achieva,Compacto,13.000000,13.5,14.000000,24.0,31.0,Nenhum,Dianteiro,...,5.0,188.0,103.0,67.0,39.0,28.0,14.0,2910.0,EUA,Oldsmobile Achieva
72,Pontiac,LeMans,Pequeno,17.118605,9.0,9.900000,31.0,41.0,Nenhum,Dianteiro,...,4.0,177.0,99.0,66.0,35.0,25.5,17.0,2350.0,EUA,Pontiac LeMans
75,Pontiac,Grand_Prix,Médio,15.400000,18.5,21.600000,19.0,27.0,Nenhum,Dianteiro,...,5.0,195.0,108.0,72.0,41.0,28.5,16.0,3450.0,EUA,Pontiac Grand_Prix
76,Pontiac,Bonneville,Grande,19.400000,24.4,29.400000,19.0,28.0,Motorista e Passageiro,Dianteiro,...,6.0,177.0,111.0,74.0,43.0,30.5,18.0,3495.0,EUA,Pontiac Bonneville
79,Subaru,Justy,Pequeno,7.300000,8.4,9.500000,33.0,37.0,Nenhum,4WD,...,4.0,146.0,90.0,60.0,32.0,23.5,10.0,2045.0,Fora dos EUA,Subaru Justy
80,Subaru,Loyale,Pequeno,10.500000,10.9,11.300000,25.0,30.0,Nenhum,4WD,...,5.0,175.0,97.0,65.0,35.0,27.5,15.0,2490.0,Fora dos EUA,Subaru Loyale
87,Volkswagen,Fox,Pequeno,8.700000,9.1,9.500000,25.0,33.0,Nenhum,Dianteiro,...,4.0,163.0,93.0,63.0,34.0,26.0,10.0,2240.0,Fora dos EUA,Volkswagen Fox
89,Volkswagen,Passat,Compacto,17.600000,20.0,22.400000,21.0,30.0,Nenhum,Dianteiro,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,Fora dos EUA,Volkswagen Passat
90,Volkswagen,Corrado,Esportivo,22.900000,23.3,23.700000,18.0,25.0,Nenhum,Dianteiro,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,Fora dos EUA,Volkswagen Corrado

17. Renomeie a coluna `trem_forca` para `tracao`.

In [15]:
df.rename(columns = {'trem_forca':'tracao'}, inplace = True)

18. Selecione todos os dados da coluna tração.

In [16]:
df['tracao']

0     Dianteiro
1     Dianteiro
2     Dianteiro
3           NaN
4      Traseiro
        ...
88    Dianteiro
89    Dianteiro
90    Dianteiro
91     Traseiro
92    Dianteiro
Name: tracao, Length: 93, dtype: object

19. Selecione as colunas: `fabricante`,`modelo` e `tipo`.

In [ ]:
df[['fabricante', 'modelo', 'tipo']]

    fabricante   modelo       tipo
0        Acura  Integra    Pequeno
1          NaN   Legend      Médio
2         Audi       90   Compacto
3         Audi      100      Médio
4          BMW     535i      Médio
..         ...      ...        ...
88  Volkswagen  Eurovan        Van
89  Volkswagen   Passat   Compacto
90  Volkswagen  Corrado  Esportivo
91       Volvo      240   Compacto
92         NaN      850      Médio

[93 rows x 3 columns]

20. Selecione o fabricante com maior preço.

In [ ]:
df[df.loc[:,'preco'] == df['preco'].max()].loc[:,['fabricante']]

       fabricante
58  Mercedes-Benz

22. Selecione as colunas `fabricante`, `modelo` e `preco`; dos carros que cabem menos passageiros.

In [ ]:
df[df.loc[:,'passageiros'] == df['passageiros'].min()].loc[:,['fabricante', 'modelo', 'preco']]

   fabricante    modelo  preco
18  Chevrolet  Corvette   38.0
56      Mazda      RX-7   32.5

23. Mostre o total de carros que existem por `tipo`.

In [ ]:
df['tipo'].value_counts()

Médio        22
Pequeno      20
Compacto     16
Esportivo    12
Grande       11
Van           9
Name: tipo, dtype: int64

24. Na coluna `tracao`, substitua *4WD* por *4X4*.

In [20]:
df['tracao'] = df['tracao'].replace(['4WD'], '4X4')

25. Converta a coluna `cilintros` para `int`.

In [23]:
df['cilindros'].fillna(0).astype('int')

0     4
1     6
2     6
3     6
4     4
     ..
88    5
89    4
90    6
91    0
92    5
Name: cilindros, Length: 93, dtype: int64

26. Crie um ranking com os top 10 carros mais caros

In [ ]:
df.sort_values('preco', ascending=False).head(10)

,fabricante,modelo,tipo,preco_min,preco,preco_max,mpg_cidade,mpg_rodovia,airbags,trem_forca,...,comprimento_in,distancia_eixo,largura_in,espaco_inversao_marcha_ft,tamanho_assento_traseiro_in,porta_mala_ft3,peso_lb,origem,fabricante_modelo,tracao
58,Mercedes-Benz,300E,Médio,43.8,61.9,80.0,19.0,25.0,Motorista e Passageiro,Traseiro,...,NaN,110.0,69.0,37.0,NaN,15.0,3525.0,Fora dos EUA,Mercedes-Benz 300E,tracao
47,Infiniti,Q45,Médio,45.4,47.9,NaN,17.0,22.0,NaN,Traseiro,...,200.0,113.0,72.0,42.0,29.0,15.0,4000.0,Fora dos EUA,Infiniti Q45,tracao
10,Cadillac,Seville,Médio,37.5,40.1,42.7,16.0,25.0,Motorista e Passageiro,Dianteiro,...,204.0,111.0,74.0,44.0,31.0,NaN,3935.0,EUA,Cadillac Seville,tracao
18,Chevrolet,Corvette,Esportivo,34.6,38.0,41.5,17.0,25.0,Somente Motorista,Traseiro,...,179.0,96.0,74.0,43.0,NaN,NaN,3380.0,NaN,Chevrolet Corvette,tracao
3,Audi,100,Médio,NaN,37.7,44.6,19.0,26.0,Motorista e Passageiro,NaN,...,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,Fora dos EUA,Audi 100,tracao
51,Lincoln,Town_Car,Grande,34.4,36.1,37.8,18.0,26.0,Motorista e Passageiro,Traseiro,...,219.0,117.0,77.0,45.0,31.5,22.0,4055.0,EUA,Lincoln Town_Car,tracao
49,NaN,SC300,Médio,34.7,35.2,35.6,18.0,23.0,Motorista e Passageiro,Traseiro,...,191.0,106.0,71.0,39.0,25.0,9.0,3515.0,Fora dos EUA,Lexus SC300,tracao
9,Cadillac,DeVille,Grande,33.0,34.7,36.3,16.0,25.0,Somente Motorista,Dianteiro,...,206.0,114.0,73.0,43.0,35.0,18.0,3620.0,EUA,Cadillac DeVille,tracao
50,Lincoln,Continental,Médio,33.3,34.3,35.3,17.0,26.0,Motorista e Passageiro,NaN,...,205.0,109.0,73.0,42.0,30.0,19.0,3695.0,EUA,Lincoln Continental,tracao
1,NaN,Legend,Médio,29.2,33.9,38.7,18.0,25.0,Motorista e Passageiro,Dianteiro,...,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,Fora dos EUA,Acura Legend,tracao

27. Exiba uma contagem de valores por tipo de câmbio e tipo de veículo.

In [27]:
print('Tipo de veículo:')
print(df['tipo'].value_counts())
print('\n Contagem de câmbios manuais e não manuais:')
print(df['transmissao_manual'].value_counts())
print('\n Relação entre câmbio e tipo de veículo:')
print(df[['tipo', 'transmissao_manual']].value_counts())

Tipo de veículo:
Médio        22
Pequeno      20
Compacto     16
Esportivo    12
Grande       11
Van           9
Name: tipo, dtype: int64

 Contagem de câmbios manuais e não manuais:
Sim    57
Não    31
Name: transmissao_manual, dtype: int64

 Relação entre câmbio e tipo de veículo:
tipo       transmissao_manual
Pequeno    Sim                   18
Compacto   Sim                   14
Esportivo  Sim                   12
Médio      Não                   12
Grande     Não                   11
Médio      Sim                    7
Van        Não                    6
           Sim                    3
Compacto   Não                    2
dtype: int64