![anatel](https://vcx.solutions/wp-content/uploads/2021/08/anatel-logo.png)

# Análise de Dados da Anatel em Minas Gerais (2006 - 2019)

A Agência Nacional de Telecomunicaçõe ([Anatel](https://www.anatel.gov.br/institucional/)) foi criada em 16 de julho de 1997 com o objetivo de regular o setor de telecomunicações para contribuir com o desenvolvimento do Brasil. Neste estudo iremos explorar o conjunto de dados das **Reclamações Registradas na Anatel** no estado de Minas Gerais durante os anos de 2006 até 2019. Os dados foram baixaados do  website [Dados Abertos](http://www.dados.gov.br/dataset/solicitacoesregistradasnaanatel) e o [Dicionário de Dados Oficial](data/Reclamações_Glossário_e_Metadados.pdf) está disponível na pasta: [`data/Reclamações_Glossário_e_Metadados.pdf`](data/Reclamações_Glossário_e_Metadados.pdf).

## Exercícios
Faça as questões abaixo usando somente a biblioteca [pandas](https://pandas.pydata.org/).

1. Importe o pacote **pandas** como o nome pd.

In [ ]:
import pandas as pd

2. Carregue em memória o conjunto de dados disponível na pasta [`data/anatel_mg_2006_2019.csv`](data/anatel_mg_2006_2019.csv) para uma variável chamada **df**.

In [ ]:
df = pd.read_csv('anatel_mg_2006_2019.csv')

3. Quantas linhas e quantas colunas foram carregadas em memória?

In [ ]:
print(f'Número de linhas: {df.shape[0]}')
print(f'Número de colunas: {df.shape[1]}')

Número de linhas: 80333
Número de colunas: 12

4. Mostre as 5 primeiras linhas do *dataset*.

In [ ]:
df.head()

,DataExtracao,Ano,Mes,CanalEntrada,Condicao,GrupoEconNorm,Tipo,Servico,Modalidade,Motivo,UF,QtdeSolic
0,2016-04-28,2006,1,Atendimento Pessoal,Nova,Anatel,Denúncia,Radiodifusão (Rádio e TV),Rádio FM,Interferência,MG,3.0
1,2016-04-28,2006,1,Atendimento Pessoal,Nova,Anatel,Denúncia,Radiodifusão (Rádio e TV),Rádio FM,Outorga,MG,8.0
2,2016-04-28,2006,1,Atendimento Pessoal,Nova,NET,Reclamação,Serviço Telefônico Fixo Comutado - STFC,Local,Cobrança,MG,1.0
3,2016-04-28,2006,1,Atendimento Pessoal,Nova,OI,Reclamação,Móvel Pessoal,Pós-Pago,Serviços Adicionais,MG,1.0
4,2016-04-28,2006,1,Atendimento Pessoal,Nova,Outros,Reclamação,Móvel Pessoal,Pós-Pago,Clonagem,MG,1.0

5.  Quais são os tipos de dados de cada uma das colunas?

In [ ]:
df.dtypes

DataExtracao      object
Ano                int64
Mes                int64
CanalEntrada      object
Condicao          object
GrupoEconNorm     object
Tipo              object
Servico           object
Modalidade        object
Motivo            object
UF                object
QtdeSolic        float64
dtype: object

6. Mostre a quantidade de colunas para cada um dos tipos de dados.

In [ ]:
df.dtypes.value_counts()

object     9
int64      2
float64    1
dtype: int64

7. Mostre as informações básicas do DataFrame.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80333 entries, 0 to 80332
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DataExtracao   80333 non-null  datetime64[ns]
 1   Ano            80333 non-null  int64
 2   Mes            80333 non-null  float64
 3   CanalEntrada   80333 non-null  object
 4   Condicao       80333 non-null  object
 5   GrupoEconNorm  80333 non-null  object
 6   Tipo           80333 non-null  object
 7   Servico        80333 non-null  object
 8   Modalidade     80333 non-null  object
 9   Motivo         80333 non-null  object
 10  UF             80333 non-null  object
 11  QtdeSolic      80333 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(8)
memory usage: 7.4+ MB

8. Verifique se existem dados ausentes (*misssing data*) no conjunto de dados.

In [ ]:
df.isnull()

,DataExtracao,Ano,Mes,CanalEntrada,Condicao,GrupoEconNorm,Tipo,Servico,Modalidade,Motivo,UF,QtdeSolic
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
419028,False,False,False,False,False,False,False,False,False,False,False,False
419029,False,False,False,False,False,False,False,False,False,False,False,False
419030,False,False,False,False,False,False,False,False,False,False,False,False
419031,False,False,False,False,False,False,False,False,False,False,False,False
419032,False,False,False,False,False,False,False,False,False,False,False,True

9. Qual é o número total de dados ausentes?

In [ ]:
df.isnull().sum().sum()

1

10. Qual é o número total de dados ausentes por coluna?

In [ ]:
df.isnull().sum()

DataExtracao     0
Ano              0
Mes              0
CanalEntrada     0
Condicao         0
GrupoEconNorm    0
Tipo             0
Servico          0
Modalidade       0
Motivo           0
UF               0
QtdeSolic        1
dtype: int64

11. Remova todos os dados ausentes encontrados.

In [ ]:
df.dropna()
df.isnull().sum()

DataExtracao     0
Ano              0
Mes              0
CanalEntrada     0
Condicao         0
GrupoEconNorm    0
Tipo             0
Servico          0
Modalidade       0
Motivo           0
UF               0
QtdeSolic        0
dtype: int64

12. Selecione o serviço que possui o maior número de solicitações `QtdeSolic` na Anatel.

In [ ]:
df[df.loc[:,'QtdeSolic'] == df['QtdeSolic'].max()].loc[:,['Servico']]

             Servico
80135  Móvel Pessoal

13. Qual é o menor número de solicitações `QtdeSolic` na Anatel.

In [ ]:
menor_numero_solicitacoes = df['QtdeSolic'].min()
menor_numero_solicitacoes

1.0

14. Mostre todas as linhs iguais ao menor número de solicitações `QtdeSolic` na Anatel.

In [ ]:
df[df.loc[:,'QtdeSolic'] == df['QtdeSolic'].min()].loc[:,['Servico', 'QtdeSolic']]

                                       Servico  QtdeSolic
2      Serviço Telefônico Fixo Comutado - STFC        1.0
3                                Móvel Pessoal        1.0
4                                Móvel Pessoal        1.0
5      Serviço Telefônico Fixo Comutado - STFC        1.0
6      Serviço Telefônico Fixo Comutado - STFC        1.0
...                                        ...        ...
80322  Serviço Telefônico Fixo Comutado - STFC        1.0
80325  Serviço Telefônico Fixo Comutado - STFC        1.0
80328                            Móvel Pessoal        1.0
80329        Serviço de Comunicação Multimídia        1.0
80332  Serviço Telefônico Fixo Comutado - STFC        1.0

[39354 rows x 2 columns]

15. Mostre as contagens de solicitações `QtdeSolic` por tipo de serviço `Servico`.

In [ ]:
print(df[['QtdeSolic', 'Servico']])

        QtdeSolic                                  Servico
0             3.0                Radiodifusão (Rádio e TV)
1             8.0                Radiodifusão (Rádio e TV)
2             1.0  Serviço Telefônico Fixo Comutado - STFC
3             1.0                            Móvel Pessoal
4             1.0                            Móvel Pessoal
...           ...                                      ...
419028        1.0                         Celular Pós-Pago
419029        5.0                         Celular Pós-Pago
419030        1.0                         Celular Pós-Pago
419031        2.0                         Celular Pós-Pago
419032        NaN                         Celular Pós-Pago

[419033 rows x 2 columns]

16. Ao longo dos anos mostre o número de solicitações por mês?

In [ ]:
agrupamento = df.groupby(['Ano', 'Mes'])['QtdeSolic'].sum()
agrupamento

Ano   Mes
2006  1.0     6234.0
      2.0     5120.0
      3.0     6762.0
      4.0     5992.0
      5.0     6736.0
              ...
2011  1.0    16430.0
      2.0    16897.0
      3.0    19039.0
      4.0    15558.0
      5.0     9406.0
Name: QtdeSolic, Length: 65, dtype: float64

17. Crie o vetor **reclamacoes** com todos os dados que cuja coluna `Tipo` seja igual a "Reclamação".

In [ ]:
reclamacoes = df.loc[df.loc[:,'Tipo'] == 'Reclamação']
reclamacoes

,DataExtracao,Ano,Mes,CanalEntrada,Condicao,GrupoEconNorm,Tipo,Servico,Modalidade,Motivo,UF,QtdeSolic
2,2016-04-28,2006,1,Atendimento Pessoal,Nova,NET,Reclamação,Serviço Telefônico Fixo Comutado - STFC,Local,Cobrança,MG,1.0
3,2016-04-28,2006,1,Atendimento Pessoal,Nova,OI,Reclamação,Móvel Pessoal,Pós-Pago,Serviços Adicionais,MG,1.0
4,2016-04-28,2006,1,Atendimento Pessoal,Nova,Outros,Reclamação,Móvel Pessoal,Pós-Pago,Clonagem,MG,1.0
5,2016-04-28,2006,1,Atendimento Pessoal,Reaberta,NET,Reclamação,Serviço Telefônico Fixo Comutado - STFC,Local,Reparo,MG,1.0
6,2016-04-28,2006,1,Atendimento Pessoal,Reaberta,Outros,Reclamação,Serviço Telefônico Fixo Comutado - STFC,Local,Cancelamento,MG,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
419028,2019-01-21,2018,6,Call Center,Reaberta,CLARO,Reclamação,Celular Pós-Pago,Cancelamento,Cancelamento solicitado por meio de atendente ...,MG,1.0
419029,2019-01-21,2018,6,Call Center,Reaberta,CLARO,Reclamação,Celular Pós-Pago,Cobrança,Cobrança após cancelamento,MG,5.0
419030,2019-01-21,2018,6,Call Center,Reaberta,CLARO,Reclamação,Celular Pós-Pago,Cobrança,Cobrança de ligações não efetuadas pelo consum...,MG,1.0
419031,2019-01-21,2018,6,Call Center,Reaberta,CLARO,Reclamação,Celular Pós-Pago,Cobrança,"Cobrança de serviço, produto ou plano não cont...",MG,2.0
419032,2019-01-21,2018,6,Call Center,Reaberta,CLARO,Reclamação,Celular Pós-Pago,Cobrança,Cobrança de valores que já foram pagos,M,NaN

18. Mostre o número total de solictiações `QtdeSolic` de reclamações para cada tipo de serviço `Servico`

In [ ]:
total_reclamacoes = reclamacoes.groupby(['Servico'])['QtdeSolic'].sum()
total_reclamacoes

Servico
Banda Larga Fixa                                            263131.0
Celular Pré-Pago                                            247047.0
Celular Pós-Pago                                            622657.0
Limitado Privado                                                83.0
Móvel Pessoal                                              1068603.0
Outros                                                        2230.0
Radioamador (PY)                                               173.0
Radiochamada (Paging)                                            1.0
Radiodifusão (Rádio e TV)                                      189.0
Rádio do Cidadão (PX)                                          133.0
Serviço Móvel Aeronáutico                                        9.0
Serviço Móvel Marítimo                                           3.0
Serviço Telefônico Fixo Comutado - STFC                     526752.0
Serviço de Comunicação Multimídia                           239967.0
Serviço de Rede e Transporte de Telecomunicações - SRTT       2736.0
Serviços da Anatel                                           21840.0
TV por Assinatura                                           334385.0
Telefone Fixo                                               395014.0
Troncalizado (Trunking)                                       2229.0
Name: QtdeSolic, dtype: float64

19. Quais são os maiores ou maior motivo de solicitação de reclamações?

In [ ]:
maior_motivo = df.groupby('Motivo')['Motivo'].describe().sort_values(by='freq', ascending=False)
maior_motivo.iloc[:3]

             count unique          top   freq
Motivo
Cobrança     11750      1     Cobrança  11750
Atendimento   6050      1  Atendimento   6050
Reparo        6039      1       Reparo   6039

20. Faça um agrupamento de dados pela coluna `GrupoEconNorm`, mostrando um sumário estatístico da quantidade solicitações `QtdeSolic`.

In [ ]:
df.groupby(['GrupoEconNorm', 'QtdeSolic']).describe()

                             Ano                                         \
                           count         mean       std     min     25%
GrupoEconNorm QtdeSolic
ALGAR         1.0        14774.0  2013.799783  3.405728  2006.0  2012.0
              2.0         3971.0  2013.576681  3.381063  2006.0  2011.0
              3.0         1877.0  2013.110815  3.468481  2006.0  2010.0
              4.0         1075.0  2012.972093  3.460224  2006.0  2010.0
              5.0          717.0  2012.792190  3.333434  2006.0  2010.0
...                          ...          ...       ...     ...     ...
VIVO          1382.0         1.0  2014.000000       NaN  2014.0  2014.0
              1420.0         1.0  2014.000000       NaN  2014.0  2014.0
              1579.0         1.0  2014.000000       NaN  2014.0  2014.0
              1588.0         1.0  2014.000000       NaN  2014.0  2014.0
              1624.0         1.0  2014.000000       NaN  2014.0  2014.0

                                                     Mes                       \
                            50%     75%     max    count       mean       std
GrupoEconNorm QtdeSolic
ALGAR         1.0        2015.0  2016.0  2018.0  14774.0   6.226614  3.455153
              2.0        2015.0  2016.0  2018.0   3971.0   6.287333  3.368814
              3.0        2014.0  2016.0  2018.0   1877.0   6.250932  3.446578
              4.0        2013.0  2016.0  2018.0   1075.0   6.396279  3.424251
              5.0        2013.0  2016.0  2018.0    717.0   6.527197  3.444435
...                         ...     ...     ...      ...        ...       ...
VIVO          1382.0     2014.0  2014.0  2014.0      1.0   8.000000       NaN
              1420.0     2014.0  2014.0  2014.0      1.0   7.000000       NaN
              1579.0     2014.0  2014.0  2014.0      1.0   9.000000       NaN
              1588.0     2014.0  2014.0  2014.0      1.0  11.000000       NaN
              1624.0     2014.0  2014.0  2014.0      1.0  10.000000       NaN


                          min   25%   50%   75%   max
GrupoEconNorm QtdeSolic
ALGAR         1.0         1.0   3.0   6.0   9.0  12.0
              2.0         1.0   3.0   6.0   9.0  12.0
              3.0         1.0   3.0   6.0   9.0  12.0
              4.0         1.0   3.0   6.0   9.0  12.0
              5.0         1.0   3.0   7.0  10.0  12.0
...                       ...   ...   ...   ...   ...
VIVO          1382.0      8.0   8.0   8.0   8.0   8.0
              1420.0      7.0   7.0   7.0   7.0   7.0
              1579.0      9.0   9.0   9.0   9.0   9.0
              1588.0     11.0  11.0  11.0  11.0  11.0
              1624.0     10.0  10.0  10.0  10.0  10.0

[2858 rows x 16 columns]